{% extends 'base2.html' %}

{% block js %}
{{ block.super }}
<script> var connection_params = { 'host':'{{ connection_params.host }}', 'port': '{{ connection_params.port }}', 'db' : null, 'coll': null }; </script>
<script src="/static/fom/js/fangofmongo_utils.js"></script>
<script src="/static/fom/js/fangofmongo_ui.js"></script>

{% if plugins %}
  <script type="text/javascript">
  function fom_init_plugins(){
  {% for plugin in plugins %}
    {% if plugin.js %}
    <!--js for plugin {{ plugin.name }} -->
    {{ plugin.js|safe }}
    {% endif %}
  {% endfor %}
  };
  </script>
{% endif %}
<script> try { fom_init_mongo_ui(); } catch(e) { alert(e); };  </script>
{% endblock %}



{% block css %}
{{ block.super }}
<link rel=stylesheet href="/static/fom/css/fangofmongo_ui.css" type="text/css"/>
{% if plugins %}
  {% for plugin in plugins %}
    {% if plugin.css %} <!--css for plugin {{ plugin.name }} --> {{ plugin.css|safe }}{% endif %}
  {% endfor %}
{% endif %}
{% endblock %}

{% block header %}
{{ block.super }}

<div id="mongo_ui_header">

Fang of mongo
</div>
<span id="mongo_ui_header_tools">
    <span id="mongo_ui_header_tools_bus">
    </span>
    <!--<span id="mongo_ui_header_tools_console">
        Console window
    </span>-->

</span>
<div id="mongo_ui_menu"></div>
<div id="errors"></div>
{% endblock header %}


{% block content %}
{{ block.super }}
<!-- mongo_ui_container -->
<div id="mongo_ui_container">
{% if plugins %}
  {% for plugin in plugins %}
    {% if plugin.html %} <!--html for plugin {{ plugin.name }} --> {{ plugin.html|safe }}{% endif %}
  {% endfor %}
{% endif %}
</div>
<div id="mongo_logo"><a href="http://www.mongodb.org" target="_new"><img src="/static/fom/img/PoweredMongoDBblue66.png"></a></div>
{% endblock content %}
